.task-input {
  display: flex;
  justify-content: center;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  width: 400px;
  padding: 0px 10px 0px 10px;
  margin: 10px 15px 25px 15px;
}

.task-input:focus {
  outline: none;
}