.btns, .btns-on, .loginButton {
  font-size: 12px;
  border: 2px solid rgba(100, 100, 100, 0);
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loginButton {
  font-size: 14px;
  margin-bottom: 15px;
  border: 2px solid #cccccc;
}

.loginButton:hover {
  background-color: #cccccc;
}