.lowerButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px 10px 0px;
}

.tasks-left, .clear-completed {
  font-size: 14px;
  color: gray;
  padding: 10px;
  cursor: pointer;
  width: 90%;
}

.tasks-left {
  width: 70%;
}

.tasks-left:hover, .clear-completed:hover {
  color: black;
}

.btns, .btns-on {
  font-size: 12px;
  border: 2px solid rgba(100, 100, 100, 0);
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btns-on {
  border: solid 2px rgba(100, 100, 100, 0.5);
}

.buttons {
  width: 100%;
}