.popup-container {
    width: 300px;
    height: fit-content;
    box-shadow: 2px 2px 18px #888888;;
    border-radius: 5px;
    position: fixed;
    right: center;
    bottom: 10px;
    background-color: white;
}
.popup-container > h4 {
    margin: 0;
}

.hide {
    display: block;
    transform: translateY(+160%);
    transition: all 0.5s ease-in-out;
}

.show {
    display: block;
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
}

.error {
    border: darkred 2px solid;
}