.App {
  display: grid;
}

.Title {
  padding: 15px;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.lowerButtons {
  width: 430px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
}

.btns, .btns-on {
  font-size: 12px;
  border: 2px solid rgba(100, 100, 100, 0);
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

.btns-on {
  border: solid 2px rgba(100, 100, 100, 0.5);
}

.text{
  font-size: 14px;
  color: gray;
  padding-bottom: 0px;
  cursor: pointer;
}

.text:hover {
  color: black;
}

.Form {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 18px #888888;
  padding: 15px 10px 0px 10px;
  max-height: 374px;
}

::-webkit-scrollbar {
  width: 0px;
}

.noScroll {
  overflow: auto;
}

.taskInput {
  justify-content: center;
  border: none;
  border-bottom: solid gray 1px;
  width: 430px;
  padding: 0px 10px 0px 10px;
}

.taskInput:focus {
  outline: none;
}

.checkItem {
  padding: 10px 15px;
}

svg {
  fill: #888888;
}

.Item {
  text-align: left;
  padding: 10px;
  width: 100%;
  overflow: hidden;
}

.flexDiv {
  width: 430px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  border-bottom: solid gray 1px;
  
}

.Icon {
  margin: 10px 20px;
  width: 15px;
  cursor: pointer;
  color: gray;
}

.Checker {
  cursor: pointer;
}